.hobbysection{
    display: flex;
    position: absolute;
    flex-direction: column;
    left:250px;
    margin-top: 80px;
    right: 60px;
}

.hobbysection h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    color: #494e52;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: lightgray;
}

